@{
    ViewBag.Title = "Contact";
}

@using Microsoft.AspNet.Identity;

<section class="no-padding-top margin-top-sm margin-bottom-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</section>
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                Email us with any concerns at <a href="mailto:contact@flixlist.com">contact&#64;flixlist.co</a> so that we can know how best to help you!
            </div>
        </div>
    </div>
</section>