@{
    ViewBag.Title = "Contact";
}

@using Microsoft.AspNet.Identity;

<section class="no-padding-top margin-top-sm margin-bottom-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</section>
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                Here's where the contact info will go!
            </div>
        </div>
    </div>
</section>