@{
    ViewBag.Title = "My Library";
}



<section class="no-padding-top margin-top-sm margin-bottom-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</section>

<script>
    (function () {
        document.getElementById('MyLibrary').className = 'active';
    })();
</script>
